html {
  hauteur de ligne : 1,15 ; /* 1 */
  -ajustement de la taille du texte du webkit : 100 % ; /* 2 */
}
/* Sections
   ================================================= ======================== */
/**
 * Supprimer la marge dans tous les navigateurs.
 */
corps {
  marge : 0 ;
}
/**
 * Rendez l'élément `main` de manière cohérente dans IE.
 */
principale {
  bloc de visualisation;
}
/**
 * Corrigez la taille de la police et la marge des éléments `h1` dans `section` et
 * Contextes "article" dans Chrome, Firefox et Safari.
 */
h1 {
  taille de police : 2em ;
  marge : 0.67em 0 ;
}
/* Regroupement de contenu
   ================================================= ======================== */
/**
 * 1. Ajoutez le dimensionnement correct de la boîte dans Firefox.
 * 2. Afficher le débordement dans Edge et IE.
 */
heure {
  dimensionnement de la boîte : contenu de la boîte ; /* 1 */
  hauteur : 0 ; /* 1 */
  débordement : visible ; /* 2 */
}
/**
 * 1. Corrigez l'héritage et la mise à l'échelle de la taille de la police dans tous les navigateurs.
 * 2. Corrigez la taille impaire de la police `em` dans tous les navigateurs.
 */
pré {
  famille de polices : monospace, monospace ; /* 1 */
  taille de la police : 1 em ; /* 2 */
}
/* Sémantique au niveau du texte
   ================================================= ======================== */
/**
 * Supprimez le fond gris sur les liens actifs dans IE 10.
 */
un {
  couleur de fond : transparente ;
}
/**
 * 1. Supprimez la bordure inférieure dans Chrome 57-
 * 2. Ajoutez la décoration de texte correcte dans Chrome, Edge, IE, Opera et Safari.
 */
abbr[titre] {
  bordure inférieure : aucune ; /* 1 */
  décoration de texte : souligné ; /* 2 */
  texte-décoration : soulignement en pointillé ; /* 2 */
}
/**
 * Ajoutez le poids de police correct dans Chrome, Edge et Safari.
 */
b,
fort {
  font-weight : plus gras ;
}
/**
 * 1. Corrigez l'héritage et la mise à l'échelle de la taille de la police dans tous les navigateurs.
 * 2. Corrigez la taille impaire de la police `em` dans tous les navigateurs.
 */
code,
kbd,
échantillon {
  famille de polices : monospace, monospace ; /* 1 */
  taille de la police : 1 em ; /* 2 */
}
/**
 * Ajoutez la taille de police correcte dans tous les navigateurs.
 */
petit {
  taille de police : 80 % ;
}
/**
 * Empêcher les éléments `sub` et `sup` d'affecter la hauteur de la ligne dans
 * tous les navigateurs.
 */
sous,
souper {
  taille de police : 75 % ;
  hauteur de ligne : 0 ;
  position : relative ;
  alignement vertical : ligne de base ;
}
sous {
  bas : -0,25 em ;
}
souper {
  haut : -0,5 em ;
}
/* Contenu intégré
   ================================================= ======================== */
/**
 * Supprimez la bordure des images à l'intérieur des liens dans IE 10.
 */
image {
  style de bordure : aucun ;
}
/* Formes
   ================================================= ======================== */
/**
 * 1. Modifiez les styles de police dans tous les navigateurs.
 * 2. Supprimez la marge dans Firefox et Safari.
 */
bouton,
saisir,
optgroup,
sélectionner,
zone de texte {
  famille de polices : hériter ; /* 1 */
  taille de police : 100 % ; /* 1 */
  hauteur de ligne : 1,15 ; /* 1 */
  marge : 0 ; /* 2 */
}
/**
 * Afficher le débordement dans IE.
 * 1. Afficher le débordement dans Edge.
 */
bouton,
entrée { /* 1 */
  débordement : visible ;
}
/**
 * Supprimez l'héritage de la transformation de texte dans Edge, Firefox et IE.
 * 1. Supprimez l'héritage de la transformation de texte dans Firefox.
 */
bouton,
sélectionnez { /* 1 */
  transformation de texte : aucune ;
}
/**
 * Correction de l'impossibilité de styliser les types cliquables dans iOS et Safari.
 */
bouton,
[type="bouton"],
[type="réinitialiser"],
[type="soumettre"] {
  -apparence webkit : bouton ;
}
/**
 * Supprimer la bordure intérieure et le rembourrage dans Firefox.
 */
bouton ::-moz-focus-inner,
[type="bouton"] ::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="soumettre"]::-moz-focus-inner {
  style de bordure : aucun ;
  rembourrage : 0 ;
}
/**
 * Restaurer les styles de focus non définis par la règle précédente.
 */
bouton :-moz-bague de mise au point,
[type="bouton"] :-moz-focusring,
[type="reset"] :-moz-focusring,
[type="submit"] :-moz-focusring {
  contour : 1px ButtonText en pointillés ;
}
/**
 * Corrigez le rembourrage dans Firefox.
 */
ensemble de champs {
  rembourrage : 0,35 em 0,75 em 0,625 em ;
}
/**
 * 1. Corrigez l'habillage du texte dans Edge et IE.
 * 2. Corrigez l'héritage de couleur des éléments `fieldset` dans IE.
 * 3. Supprimez le rembourrage afin que les développeurs ne soient pas pris au dépourvu lorsqu'ils se mettent à zéro
 * Éléments `fieldset` dans tous les navigateurs.
 */
Légende {
  dimensionnement de la boîte : border-box ; /* 1 */
  couleur : hériter ; /* 2 */
  affichage : tableau ; /* 1 */
  largeur max : 100 % ; /* 1 */
  rembourrage : 0 ; /* 3 */
  espace blanc : normal ; /* 1 */
}
/**
 * Ajoutez l'alignement vertical correct dans Chrome, Firefox et Opera.
 */
le progrès {
  alignement vertical : ligne de base ;
}
/**
 * Supprimez la barre de défilement verticale par défaut dans IE 10+.
 */
zone de texte {
  débordement : automatique ;
}
/**
 * 1. Ajoutez le dimensionnement correct de la boîte dans IE 10.
 * 2. Supprimez le rembourrage dans IE 10.
 */
[type="case à cocher"],
[type="radio"] {
  dimensionnement de la boîte : border-box ; /* 1 */
  rembourrage : 0 ; /* 2 */
}
/**
 * Corrigez le style de curseur des boutons d'incrémentation et de décrémentation dans Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  hauteur : automatique ;
}
/**
 * 1. Corrigez l'apparence étrange dans Chrome et Safari.
 * 2. Corrigez le style de contour dans Safari.
 */
[type="recherche"] {
  -apparence webkit : champ de texte ; /* 1 */
  décalage de contour : -2px ; /* 2 */
}
/**
 * Supprimez le rembourrage intérieur dans Chrome et Safari sur macOS.
 */
[type="search"]::-webkit-search-decoration {
  -apparence webkit : aucune ;
}
/**
 * 1. Corrigez l'impossibilité de styliser les types cliquables dans iOS et Safari.
 * 2. Changez les propriétés de la police en "hériter" dans Safari.
 */
::-webkit-fichier-upload-bouton {
  -apparence webkit : bouton ; /* 1 */
  police : hériter ; /* 2 */
}
/* Interactif
   ================================================= ======================== */
/*
 * Ajoutez l'affichage correct dans Edge, IE 10+ et Firefox.
 */
détails {
  bloc de visualisation;
}
/*
 * Ajoutez l'affichage correct dans tous les navigateurs.
 */
sommaire {
  affichage : élément de liste ;
}
/* Divers
   ================================================= ======================== */
/**
 * Ajoutez l'affichage correct dans IE 10+.
 */
modèle {
  affichage : aucun ;
}
/**
 * Ajoutez l'affichage correct dans IE 10.
 */
[caché] {
  affichage : aucun ;
}

*{
  box-sizing: content-box;
}
/*reglages polices*/
body {
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: bolder;
}
h2 {
  font-size: 20px;
  font-weight: bolder;
}
h3 {
  font-weight: bolder;
  font-size: 16px;
}
h4 {
  font-size: 16px;
  font-weight: bolder;
  display: inline;
  margin: 0;
}
.price {
  font-weight: bold;
}
.fli {
  flex-direction: column;
}
span a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
h4 a {
  text-decoration: none;
}

#main_cont {
  max-width: 1440px;
  margin: auto;
}
/**Sections**/
/**HEADER_CONT**/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 15px 15px 0px 15px;
}
.header_logo {
  display: flex;
  justify-content: space-between;
}
.header_title {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 80px;
}
/**Navigation**/
nav ul {
  height: 100%;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style: none;
  display: flex;
  height: 80%;
  margin: 10px;
  align-items: center;
}
li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0065fc;
}
li:hover {
  border-top: #0065fc 3px solid;
  font-size: 18px;
  font-weight: bold;
}
/**SEARCH_CONT**/
.search_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 10px 0px 25px 15px;
}
/**Barre de recherche**/
.navigation_bar {
  width: 305px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
/*Icon GPS*/
.gpsIcons {
  width: 40px;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: 1px #f2f2f2 solid;
}
/*Search bouton Marseille*/
.search_btn {
  height: 38px;
  padding-left: 10px;
  border: 1px #f2f2f2 solid;
}
/*Search bouton Rechercher*/
.search_word {
  width: 110px;
  background: #0065fc;
  border-radius: 0 10px 10px 0;
  color: white;
  font-weight: bold;
  padding-right: 10px;
  cursor: pointer;
  border: 1px #0065fc solid;
}

/**Section filtres**/
.button {
  height: 32px;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  margin: 5px 7px 7px 12px;
}
.tabIcons {
  display: flex;
  align-items: center;
}
.tabIcons i {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0065fc;
  background-color: #deebff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: -3px;
}
.tabIcons h3 {
  padding-left: 10px;
  padding-right: 10px;
}
.infoIcons {
  display: flex;
  align-items: center;
}
.infoIcons i {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #0065fc;
  border: #f2f2f2 1px solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 4px;
}
/*Fd gris de la section 2, 3 & 5*/
.background-color {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding-bottom: 15px;
}
.background-color + h2 {
  position: relative;
  left: 60px;
}

/**HMLPP**/
#hmlpp_cont {
  height: auto;
  display: flex;
  justify-content: space-around;
}

/**HM_CONT**/
.hm_dim {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.hm_title {
  padding: 10px;
}
.hm_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Overlay*/
.hm_card {
  width: 29%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin: 7px;
  line-height: 150%;
  position: relative;
}
.hm_card .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
  cursor: pointer;
}
.hm_card:hover .overlay {
  transform: scale(1);
}

.hm_carddesc {
  padding-left: 10px;
}
.hm_carddesc a {
  text-decoration: none;
}
.hm_img {
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.hm_ap {
  display: block;
  font-size: 16px;
  padding: 10px;
}

/**LPP_CONT**/
.lpp_dim {
  width: 31%;
}
.lpp_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.starIcons {
  padding-right: 10px;
}
.lpp_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lpp_card {
  display: flex;
  width: 90%;
  height: 140px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin: 7px;
  position: relative;
}
.lpp_card .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
  cursor: pointer;
}
.lpp_card:hover .overlay {
  transform: scale(1);
}
.lpp_carddesc {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
  line-height: 150%;
}
.lpp_carddesc a {
  text-decoration: none;
}
.lpp_carddesc .rating {
  align-self: flex-start;
}
.lpp_img {
  width: 130px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

/**AM**/
#am_cont {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#am_cont a {
  text-decoration: none;
}
.am_title {
  padding: 15px 0px 0px 15px;
}
.am_cont_BP {
  width: 22%;
  display: flex;
}
.am_cont_SP {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.am_pic {
  display: block;
  margin-bottom: 7px;
}
.am_title_card {
  display: inline;
  padding-left: 10px;
}
.am_card_gm {
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin-bottom: 15px;
  position: relative;
}
.am_card_gm .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
  cursor: pointer;
}
.am_card_gm:hover .overlay {
  transform: scale(1);
}
.am_img_gm {
  width: 100%;
  height: 360px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
#am_card_mm {
  height: 219px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin-bottom: 15px;
  position: relative;
}
#am_card_mm .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}
#am_card_mm:hover .overlay {
  transform: scale(1);
}
.am_img_mm {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center left;
}
.am_card_sm {
  height: 189px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin-bottom: 15px;
  position: relative;
}
.am_card_sm .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}
.am_card_sm:hover .overlay {
  transform: scale(1);
}
.am_img_sm {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center top;
}
.am_img_sm2 {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center;
}
#am_card_xsm {
  height: 159px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 3px silver;
  padding: 2px;
  margin-bottom: 15px;
  position: relative;
}
#am_card_xsm .overlay {
  position: absolute;
  top: 0;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}
#am_card_xsm:hover .overlay {
  transform: scale(1);
}
.am_img_xsm {
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  object-position: center 40%;
}

/**FOOTER**/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.footer--no_radius {
  border-radius: 0px;
}
.footer_nav {
  flex-basis: 400px;
}
.footer_ul {
  display: flex;
  flex-direction: column;
}
.footer_li {
  display: block;
}

/*Rating*/
.stars {
  align-self: flex-end;
}
.fa-star {
  color: #f2f2f2;
  cursor: pointer;
  padding: 1px;
  font-size: small;
}
/* Si elle porte en plus la classe '.blue', elle sera en bleue. */
.fa-star.blue {
  color: #0065fc;
}

/**?Responsive**/

/**?Tablet de 768 à 992px**/
@media screen and (max-width: 992px) {
  #main_cont {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  /**HM_CONT**/
  .hm_dim {
    width: 59%;
  }
  #hm_card {
    width: 44%;
  }
  .hm_img {
    height: 110px;
  }
  /**LPP_CONT**/
  .lpp_dim {
    width: 38%;
  }
  .lpp_card {
    height: 150px;
  }
  .lpp_carddesc {
    margin-left: 7px;
  }
  .lpp_img {
    width: 120px;
    height: 150px;
  }

  /**AM_CONT**/
  .am_title_card {
    padding-left: 5px;
    font-size: 0.75em;
  }
  /**FOOTER**/
  .footer_li {
    font-size: 12px;
  }

  /**?Mobile de X à 767px**/
  @media screen and (max-width: 767px) {
    #main_cont {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    /**HEADER**/
    header {
      flex-direction: column;
    }
    .header_logo {
      flex-direction: column;
    }
    .logo {
      height: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    ul {
      justify-content: center;
      margin: 10px;
      padding: 0px;
    }
    li {
      font-size: 24px;
      flex-basis: 50%;
      flex-grow: 1;
      justify-content: center;
      margin: 0;
    }
    li:hover {
      font-size: 26px;
      border-top: none;
      border-bottom: #0065fc 3px solid;
      width: 100%;
    }

    /**SEARCH_CONT**/
    /*Barre de recherche*/
    .navigation_bar {
      margin-left: auto;
      margin-right: auto;
      width: 405px;
    }
    /*Icon GPS*/
    .gpsIcons {
      width: 40px;
    }
    /*Search bouton Marseille*/
    .search_btn {
      width: 255px;
    }
    /*Search bouton Rechercher*/
    .search_word {
      width: 110px;
    }
    .filters_title {
      width: 100%;
    }
    .filters {
      display: flex;
      flex-wrap: wrap;
    }
    /*Fd gris de la section 2, 3 & 5*/
    h4 {
      font-size: 27px;
    }
    .night {
      font-size: 19px;
    }
    .background-color {
      border-radius: 0px;
    }
    #hmlpp_cont {
      flex-direction: column;
    }
    /**LPP_CONT**/
    .lpp_dim {
      width: 100%;
    }
    .lpp_card {
      width: 90%;
      height: 260px;
      padding: 7px;
    }
    .lpp_img {
      width: 100%;
      height: 260px;
      object-fit: fill;
    }
    .lpp_carddesc {
      margin-left: 20px;
      padding-top: 15px;
      line-height: 32px;
    }
    /**HM_CONT**/
    .hm_cont {
      flex-direction: column;
      align-items: center;
    }
    .hm_dim {
      width: 100%;
      order: 1;
      background-color: white;
    }
    #hm_card {
      width: 90%;
      height: 280px;
      padding: 7px;
    }
    .hm_img {
      width: 100%;
      height: 198px;
      object-fit: cover;
    }
    /**AM_CONT**/
    #am_cont {
      flex-direction: column;
    }
    .am_cont_BP {
      width: 100%;
      justify-content: center;
    }
    .am_cont_SP {
      width: 100%;
      align-items: center;
    }
    .am_card_gm,
    #am_card_mm,
    .am_card_sm,
    #am_card_xsm {
      width: 90%;
      height: 280px;
      padding: 7px;
    }
    .am_img_gm,
    .am_img_sm2,
    .am_img_xsm {
      height: 240px;
      object-fit: cover;
      object-position: center 30%;
    }
    .am_img_sm {
      height: 240px;
      object-fit: cover;
      object-position: top;
    }
    .am_img_mm {
      height: 240px;
      object-fit: cover;
      object-position: center;
    }
    .am_title_card {
      font-size: 24px;
    }
    /**FOOTER**/
    footer {
      flex-direction: column;
      justify-content: flex-start;
    }
    .footer_nav {
      flex-basis: 0px;
    }
    .footer_li {
      text-align: left;
      font-size: 14px;
    }
  }
}
